@page "/game"
@inject HttpClient Http
@using IO.Ably

<PageTitle>Serverless WebSockets Quest</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button id="attackButton" @onclick="Attack">Attack</button>

@code {
    private int currentCount = 0;

    private void Attack()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        // Join the channel, read it from the url
        try
        {
            //var channel = new AblyRealtime();
            //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("/api/WeatherForecast") ?? new WeatherForecast[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
