@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Serverless Websockets Quest</PageTitle>

<h1>Welcome to the Serverless Websockets Quest!</h1>

<img class="small" src="images/Monster.png" alt="Fighter" />
<img class="small" src="images/Fighter.png" alt="Fighter" />
<img class="small" src="images/Ranger.png" alt="Fighter" />
<img class="small" src="images/Mage.png" alt="Fighter" />

<hr />
<button @onclick="StartQuest">Start a new Quest</button> or <input id="questId" placeholder="Quest ID" /> <button>Join a Quest</button>

@code  {
    private void StartQuest()
    {
        var questId = Guid.NewGuid().ToString();
        NavigationManager.NavigateTo($"/game/{questId}");
    }
}